.ad-info {
  max-width: 80%;
  display: inline-block;
}

.adName {
  font-size: 20px;
  font-weight: 800;
  margin: 0 10px 10px 0;
}

.ad-item {
  position: relative;
  padding: 50px 20px;
  border: 1px solid black;
  border-radius: 3px;
  color: $white;
  background-color: $seek-theme-blue;
  margin-bottom: 15px;
}

.exclusiveLabel {
  position: absolute;
  top: 10px;
  color: $seek-theme-pink;
}

.exclusive-deal {
  color: $seek-theme-pink;
}