header {
  padding: 10px;
  background-color: $white;
  
  .header-items {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }

  .logo-wrapper {
    .img-logo {
      max-width: 80%;
    }
  }
}