body {
  margin: 0;
  background: $app-bg;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  padding: 0;
}

p {
  line-height: 1.6;
}

.btn {
  border: none;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.page-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}