//Colors
$white: #fff;
$light-black: #35414E;
$light-gray: #f2f2f2;
$light-blue: #7aa6e8;
$gray-bg: #eee;
$seek-theme-blue: #113a7e; 
$seek-theme-pink: #fd0585;

//Variables
$btn-primary: $seek-theme-blue;
$btn-secondary: $seek-theme-pink;
$breakpoint-768px: 768px;
$breakpoint-1024px: 1024px;
$app-bg: $gray-bg;